<br>
<div class="ui main text container">
    <a href=""><h1 class="ui header">{{title}}</h1></a>
</div>
<div class="ui stackable main menu">
    <div class="ui text container">
        <a class="item" href="/code-editor">Code Editor</a>
        <a class="item" href="/exercises">Exercises</a>
        <a class="item yellow" href="/lessons">Course Lessons</a>
        
    </div>
    
</div>
<div class="ui text container">
    <router-outlet></router-outlet>
    <!-- <app-home></app-home> -->
</div>


